/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
   html.writer-html5 .rst-content table.docutils td > p, html.writer-html5 .rst-content table.docutils th > p {
      line-height: 1rem;
      margin-bottom: 0;
      font-size: .8rem;
   }
   .rst-content table.docutils td, .rst-content table.docutils th, .rst-content table.field-list td, .rst-content table.field-list th, .wy-table td, .wy-table th {
      font-size: 92%;
      margin: 0;
      overflow: visible;
      padding: 8px 10px;
   }
}
